* {
  margin: 0px;
  padding:0px;
}
body {
  background-image: url(moviepost.png);
}

.headtag {
  width: 30%;
  margin:auto;
  margin-top:30px;
  color: white;
  border: 1px solid rgb(178,34,34);
  border-bottom: none;
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
  background-color: rgb(220,20,60);
  text-align: center;
}
form {
  width: 30%;
  border: 1px solid rgb(178,34,34);
  background: white;
  border-radius: 0px 0px 20px 20px;
  padding: 20px;
  margin:auto;

}
.input {
  margin: 15px 0px 15px 0px;
}
.input label {
  display: block;
  text-align: left;
  margin: 5px;
}
.input input {
  height: 25px;
  width: 90%;
  font-size: 1rem;
  padding:5px;
  border: 1px solid lightgray;
}
.btn {
  padding: 10px;
  font-size:0.8rem;
  color: white;
  background: rgb(220,20,60);
  border-radius: 5px;
}
.errors {
  width: 90%;
  padding: 8px;
  border: 1px solid rgb(178,34,34);
  color: rgb(178,34,34);
  background: rgb(242,222,222);
  border-radius: 5px;
}
a{
  text-decoration: none;
  color:rgb(220,20,60);
}
.button {
  padding: 15px 32px;
  background-color: #555555;
  color: white;
  font-size: 24px;
} /* Black */
